<div class="container-fluid">
    <div class="row align-items-center justify-content-center py-3">
        <div class="col-10 col-sm-8 col-lg-5 py-6">
            <img src="{{ "/images/visual_scripting.webp" | relURL }}" alt="Visual Scription Example" class="img-fluid d-block mx-auto">
        </div>
        <div class="col-lg-5 col-sm-10 order-lg-first py-6">
            <h2 class="pt-4">Built with Visual Scripting</h2>
            <p>
                Six Sided Heroes is built with Unity Visual Scripting. The goal was to create a fully functional Andriod Game with using Unities Visual Scripting as a base.
                Using the active State Machines to controll the flow of action, the rolling of the various dice and much more!            
            </p>
        </div>
        
    </div>
</div>