<div class="container-fluid">
    <div class="row align-items-center justify-content-center py-5">
        <div class="col col-lg-6 col-md-8 col-sm-10">
            <h2 class="text-center">Get In Touch</h2>
            <form action="#">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="inputName" placeholder="First Name, Last Name" aria-labelledby="inputNameLabel">
                    <label for="inputName" id="inputNameLabel">Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com" aria-labelledby="inputEmailLabel">
                    <label for="inputEmail" id="inputEmailLabel">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="inputSubject" placeholder="Awesome Game" aria-labelledby="inputSubjectLabel">
                    <label for="inputSubject" id="inputSubjectLabel">Subject</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea name="message" class="form-control" id="inputMessage" placeholder="Message" 
                    aria-labelledby="inputMessageLabel"></textarea>
                    <label for="inputMessage" id="inputMessageLabel">Message</label>
                </div>
                <button type="submit" class="btn btn-outline-secondary">Send Message</button>
            </form>
        </div>
    </div>
</div>