{{ define "main" }}
<section class="hero">
    <div class="container-fluid col-xxl-10">
        <div class="row align-items-center justify-content-center py-3">
            <div class="col-10 col-sm-8 col-lg-5 py-3">
                <img src="images/HeaderImage.WebP" alt="Epic Dice Battles Header Image" class="img-fluid d-block mx-auto">
            </div>
            <div class="col-lg-5 col-sm-10 order-lg-first">
                <h1>{{ .Params.heading }}</h1>
                <h3>{{ .Params.subHeading }}</h3>
                <p>{{ .Content }}</p>
                <div class="d-grid gap-2 d-md-flex">
                    {{ with .Params.btn2 }}
                    {{ if and .text .url }}
                    
                    <a  href="{{ .url }}" class="btn btn-lg btn-outline-secondary px-4">
                        {{ .text }}</a>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="fs-1 pb-3">
                    {{ .Params.cardsTitle }}
                </h2>
            </div>
        </div>
        <div class="row pb-3">
            {{ range .Params.cards }}
            <div class="col-md-4">
                <div class="card mb-3 card-container">
                    <img src="{{ .img }}" class="card-img-top img-fluid" alt="{{ .title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ .title }}</h5>
                        <p class="card-text">{{ .text }}</p>
                        {{ with .btn }}
                        {{ if and .text .url }}
                            <a href="{{ .url }}" class="btn btn-outline-secondary">{{ .text}}</a>
                        {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

<section>
    {{ partial "built_with" . }}
</section>

<section>
    {{/*  contact cta  */}}
</section>


{{ end }}